{project_plugins, [rebar3_ex_doc]}.

{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src install"},
    {"(freebsd)", compile, "gmake -C c_src install"}
]}.
{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [usb]}
]}.
  
{ex_doc, [
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}},
        {'NOTICE', #{title => <<"Copyright">>}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/kopera/erlang-usb"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.