{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [
    {compile, "cargo build --release --target-dir _build/cargo"},
    {compile, "mkdir -p priv/"},
    {"linux", compile, "cp _build/cargo/release/libusb_nif.so priv/usb_nif.so"},
    {"darwin", compile, "cp _build/cargo/release/libusb_nif.dylib priv/usb_nif.so"}
]}.
{post_hooks, [
    {clean, "cargo clean --target-dir _build/cargo"}
]}.